.admin-navbar{
    background-color:#2c3e50;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.admin-navbar h2{
    margin:0;
    font-size:22px;
}

.admin-home-btn{
    background-color:#4CAF50;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

.admin-home-btn:hover{
    opacity:0.9;
}