
body{
    margin:0;
    font-family:Arial;
    background-image:url("../assets/blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;      /* Fill the entire screen */
    background-position: center; /* Keep image centered */
    background-attachment: fixed; /* Optional */

}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:75vh;
}

.box{
   /* background:rgb(13, 20, 72);*/
    background-color: rgb(120, 171, 166);
    width: 400px;
    height:400px ;
    padding:33px;
    border-radius:12px;
    text-align:center;
}

.box h1{
    margin-bottom:25px;
    color:navy;
}

input{
    width:100%;
    color:black;
    background-color:white;
    padding:12px;
    margin:10px 0;
    border:none;
    outline:none;
    border-radius: 100px;
}

button{
    width:100%;
    border-radius: 100 px;
    padding:12px;
    background:navy;
    color:white;
    border:none;
    cursor:pointer;
    margin-top:10px;
    border-radius: 100px;
}

button:hover{
    opacity:0.9;
}

p{
    margin-top:15px;
}

a{
    margin-left:5px;
    color:white;
}
h1{
    color: yellowgreen;
}
p{
    color: rgb(42, 61, 1);
}
.home-container {
    min-height: 100vh;
    background-image: url("../assets/sclrPrjt.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-container::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../assets/sclrPrjt.jpg");
    background-size: cover;
    background-position: center;

    filter: blur(8px);
    z-index: -1;
}