body {
    margin: 0;
    font-family: Arial;
    background-color: #EBEBEB;
    background-repeat: no-repeat;
    background-size: cover;
    /* Fill the entire screen */
    background-position: center;
    /* Keep image centered */
    background-attachment: fixed;
    /* Optional */

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 70%;
}


.box {
    position: relative;
    right: -350px;
    background: rgb(13, 20, 72);
    background-color: rgb(120, 171, 166);
    width: 480px;
    height: 730px;
    padding: 30px 33px;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%;
    text-align: center;
}

.logo {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    object-fit: contain;
    margin: 0 auto -8px;

    display: block;
    margin-bottom: 50px;
}

.box h1 {
    font-size: 50px;
    margin-bottom: 25px;
    color: navy;
    margin-bottom: revert-layer;
}

input {
    width: 75%;
    color: black;
    background-color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 100px;
}

button {
    width: 80%;
    border-radius: 100 px;
    padding: 12px;
    background: navy;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 100px;
}

button:hover {
    opacity: 0.9;
}

p {
    margin-top: 15px;
}

a {
    margin-left: 5px;
    color: white;
}

h1 {
    color: rgb(19, 133, 209);
}

p {
    color: rgb(42, 61, 1);
}

.home-container {
    min-height: 100vh;
    background-image: url("../assets/sclrPrjt.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-container::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../assets/sclrPrjt.jpg");
    background-size: cover;
    background-position: center;

    filter: blur(8px);
    z-index: -1;
}

.hero-image {
    position: relative;
    right: -100px;
    width: 700px;
    max-width: 700px;
    height: auto;

}

.hero-image1 {
    position: relative;
    right: -100px;
    width: 900px;
    max-width: 700px;
    height: auto;

}

.signup-heading {

    color: #000080;
    font-size: px;

}